- content_for :title do
  Ceclia
- content_for :meta do
  %meta{:content => "Cecilia is a tool for learning Italian.", :name => "description"}/
- content_for :shadow do
  .shadow_box.hide
    .shadow_box_window.clearfix
      .loading.clearfix
        .loading_gif
      .results.clearfix

.search_background
  .search_content
    .main_title cecilia
    .subtitle il generatore ufficiale dei nomi italiani
    .italianize_name
      .select_gender
        = label_tag(:gender, "io sono:")
        = radio_button_tag(:gender, "female")
        = label_tag(:gender_female, "femmina")
        = radio_button_tag(:gender, "male")
        = label_tag(:gender_male, "maschio")
        = radio_button_tag(:gender, "other")
        = label_tag(:gender_other, "altro")
      .name_search_bar
        %input.name_box{ id: :first_name, name: :first_name, type: "text", placeholder: "first name", autocomplete: "off" }
        %input.name_box{ id: :last_name, name: :last_name, type: "text", placeholder: "last name", autocomplete: "off" }
      #dai_button.search_button Dai!
.footer 
  .copyright Copyright © 2014 Lea Coligado&nbsp;&nbsp;|&nbsp;&nbsp;All photography by Lea Coligado