<% content_for :title do %> 
  Ceclia
<% end %>

<% content_for :meta do %>
  <meta name="description" content="Cecilia is a tool for learning Italian.">
<% end %>

<h1>Cecilia</h1>
<h2>il generatore ufficiale dei nomi italiani</h2>

<div class="italianize_name">
  But first, let's italianize your name!
  <%= form_for(:info, method: :get, url: {:action => :italianize }) do |form| %>
    <div class="select_gender">
      First, select your gender:
      <%= radio_button_tag(:gender, "female") %>
      <%= label_tag(:gender_female, "femminile") %>
      <%= radio_button_tag(:gender, "male") %>
      <%= label_tag(:gender_male, "maschio") %>
    </div>
    <div class="enter_name">
      First name: <%= form.text_field(:first_name) %>
      Last name: <%= form.text_field(:last_name) %>
    </div>
    <%= form.submit "Dai!" %>
  <% end %>
</div>