- content_for :title do
  Ceclia
- content_for :meta do
  %meta{:content => "Cecilia is a tool for learning Italian.", :name => "description"}/
.search_background
  .search_content
    .main_title cecilia
    .subtitle il generatore ufficiale dei nomi italiani
    .italianize_name
      = form_for :info, method: :get, url: {:action => :italianize } do
        .select_gender
          = label_tag(:gender, "Io sono:")
          = radio_button_tag(:gender, "female")
          = label_tag(:gender_female, "femmina")
          = radio_button_tag(:gender, "male")
          = label_tag(:gender_male, "maschio")
          = radio_button_tag(:gender, "other")
          = label_tag(:gender_other, "altro")
        .name_search_bar
          %input.name_box{ id: :first_name, type: "text", required: true, placeholder: "first name"}
          %input.name_box{ id: :last_name, type: "text", required: true, placeholder: "last name" }
        = submit_tag "Dai!", class: "search_button"