<% content_for :title do %> 
  Ceclia
<% end %>

<% content_for :meta do %>
  <meta name="description" content="Cecilia is a tool for learning Italian.">
<% end %>

<h1>Cecilia</h1>
<h2>la tua guida a imparare l'italiano</h2>

<div class="step_1">
  Step 1: Italianize your name!
</div>

Select your gender:
<%= radio_button_tag(:gender, "female") %>
<%= label_tag(:female, "femminile") %>
<%= radio_button_tag(:gender, "male") %>
<%= label_tag(:male, "maschio") %>

<%= form_for(:name, method: :get, url: {:action => :italianize }) do |form| %>
	First name: <%= form.text_field(:first_name) %>
  Last name: <%= form.text_field(:last_name) %>
  <%= form.submit "Dai!" %>
<% end %>