<!DOCTYPE html>
<html>
<head>
  <title>Cecilia | the Italian name generator</title>
  <meta name="description" content="Cecilia is an Italian name generator meant to let you embrace your Italian side.">
  <meta name="author" content="Lea Coligado">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield :shadow %>
  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</body>
</html>